<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/style_download.css" />
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h2>Fichier</h2>
                <p class="filename">how-to-size-a-.webp</p>
                <p class="filesize">0.10mb</p>
                <button>Téléchargement</button>
            </div>
            <div class="download-section">
                <div class="download-header">
                    <p class="title">
                        Vous pouvez maintenant <br /><strong
                            >télécharger le fichier</strong
                        >
                    </p>
                </div>
                <div id="download-content">
                    <p class="title"><span>Téléchargement</span></p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <span class="progress-text">40%</span>
                    </div>
                    <p class="warning">
                        ⚠️
                        <span>Fermer cette page annule le téléchargement</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="buttons-container">
            <button>Informations</button>
            <button class="button-secondary">Securité</button>
            <button class="button-secondary">Projets</button>
        </div>
    </body>
</html>
