<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Test des Fecth Request -->
    <!-- Formulaire pour uploader un fichier -->
    <form id="uploadForm">
      <input type="file" id="fileInput" />
      <button type="submit">Uploader</button>
    </form>

    <!-- Bouton pour télécharger un fichier -->
    <button id="downloadButton">Télécharger un fichier</button>

    <!-- Inclusion du script -->
    <script src="/javascripts/p2p.js"></script>
  </body>
</html>
