<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style_share.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <header>
        <div class="header-content">
            <img src="/images/logo-gros-fichier.png" alt="Logo" class="logo">
            <div class="curved-container">
                <h1>PARTAGE DE GROS FICHIER</h1>
            </div>
        </div>
    </header>
    <main></main>
    <div class="info"></div>
    <footer>
        <p>Projet du trimestre Hiver cours Conception et architecture des systèmes d'infonuagique (8INF876)</p>
    </footer>
  </body>
</html>
