body {
    background-color: #8793a0;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #8793a0;
    color: white;
    align-items: center;
    height: auto;
    gap: 150px;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    aspect-ratio: 1/1;
    text-align: left;
}

.card h2 {
    color: #5cbbe0;
    margin-bottom: 10px;
}

.card .filename,
.card .filesize {
    color: #5cbbe0;
    margin: 0;
    font-size: 12px;
}

button {
    background-color: #74c4e3;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 174px;
}

.button-secondary {
    color: black;
    background-color: var(--white-color);
}

.card button {
    margin-top: auto;
    align-self: center;
    width: auto;
}

button:hover {
    background-color: var(--black-color);
}

.download-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.download-section .title {
    font-weight: bold;
    line-height: 1.5;
}

.download-section .progress {
    margin-top: 20px;
    width: 300px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 10px;
}

.download-section .progress-bar {
    width: 40%;
    height: 100%;
    background-color: #74c4e3;
}

.download-section .progress-text {
    position: absolute;
    right: -40px;
    top: -5px;
    color: white;
}

.download-section .warning {
    margin-top: 15px;
    color: #74c4e3;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    gap: 10px; /* Optional: space between buttons */
    margin-top: 40px; /* Space at the top */
}
