.download-link{
    text-decoration: none;
    color: var(--black-color);
    padding: 200px 0;
}


.app {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.app .app-logo:hover{
    color: var(--blue-color);
}
.app .app-logo:active{
    color: var(--black-color);
}

