body {
    display: flex;
    flex-direction: column; /* Disposition en colonne */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-color: #8D99A5;
    overflow-x: hidden;
    margin: 0;
}

header {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: #FFFFFF;
    color: #6BBEDB;
    padding: 20px;
    border-bottom-left-radius: 100% 80%;
    border-bottom-right-radius: 100% 80%;
    width: 110vw;
    margin-left: -5vw;
    margin-right: -5vw;
    z-index: 1;
    position: relative;
}

.header-content {
    display: flex;
    flex-direction: column; /* Empile verticalement */
    align-items: center;    /* Centre horizontalement */
}

.logo {
    max-height: 100px; /* double la taille par rapport à 50px */
    margin-bottom: 10px; /* espace entre l'image et le texte */
}

header img {
    max-height: 50px; /* Ajuste la hauteur de l'image */
    margin-right: 10px; /* Espace entre l'image et le texte */
}

main {
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 10px;
  width: 110vw;
  margin-left: -5vw;
  margin-right: -5vw;
  border-bottom-left-radius: 100% 80%;
  border-bottom-right-radius: 100% 80%;
}

/* fond gris visible */
main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8D99A5;
  border-bottom-left-radius: 100% 80%;
  border-bottom-right-radius: 100% 80%;
  z-index: -2;
}

/* carré blanc derrière pour créer un effet de fond superposé */
main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -3;
}

footer {
    background-color: #8D99A5;
    color: white;
    text-align: center;
    padding: 10px;
}

.info {
  flex: 1;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 100% 80%;
  border-bottom-right-radius: 100% 80%;
  width: 110vw; /* plus large que l'écran pour qu'elle dépasse */
  margin-left: -5vw; /* recentre */
  margin-right: -5vw;
  z-index: 1;
  position: relative;
}


main, header, .info {
  width: 100%;
  margin: 0 auto; /* centre horizontalement */
}

