body {
    background-color: var(--grey-color);
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--grey-color);
    color: white;
    align-items: start;
    gap: 150px;
    font-size: 18px;
    position: relative;
    top: 50px;
    overflow-x: hidden;
    padding: 0 5%;
    /* height claul 100% + 1px to avoid the scroll bar */
    height: calc(100% + 1px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
    height: 300px;
    width: 300px;
    aspect-ratio: 1/1;
    text-align: left;
    margin-bottom: 10px;
}

.card h2 {
    color: var(--blue-color);
    margin-bottom: 10px;
}

.card .filename,
.card .filesize {
    color: var(--blue-color);
    margin: 0;
    font-size: 15px;
}

.active{
    background-color: var(--blue-color);
    color: white;
}

button {
    color: black;
    padding: 5px 20px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 174px;
    background-color: var(--white-color);
}

.card button {
    margin-top: auto;
    align-self: center;
    width: auto;
}

button:hover {
    background-color: var(--black-color);
    color: white;
}
button:active {
    color: white;
    background-color: var(--blue-color);
}
.download {
    right: 2px;
    height: 100%;
}
.download-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

.download-section .title {
    font-weight: bold;
    font-size: 25px;
}

.download-section .progress {
    margin-top: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 10px;
}

.download-section .progress-bar {
    width: 0%;
    height: 100%;
    background-color: var(--blue-color);
    transition: width 0.3s ease;
}

.download-section .warning {
    margin-top: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
.download-section .warning  iconify-icon{
    color: var(--blue-color);
}
.download-content{
    margin-top: -20px;
}
.buttons-container {
    position: relative;
    top: 45px;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}


.fileList{
    margin: 27.5px 0;
}
main{
    margin-bottom: -20px;
}